{% load static %}
   
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.15/tailwind.min.css"
      rel="stylesheet"
    />

    <title>Sketchpad</title>

    <script type="text/javascript">
      // Variables for referencing the canvas and 2dcanvas context
      var canvas, ctx;

      // Variables to keep track of the mouse position and left-button status
      var mouseX,
        mouseY,
        mouseDown = 0;

      // Draws a dot at a specific position on the supplied canvas name
      // Parameters are: A canvas context, the x position, the y position, the size of the dot
      function drawDot(ctx, x, y, size) {
        // Let's use black by setting RGB values to 0, and 255 alpha (completely opaque)
        r = 255;
        g = 255;
        b = 255;

        // Select a fill style
        ctx.fillStyle = "rgb(" + r + "," + g + "," + b + ")";

        // Draw a filled circle
        ctx.beginPath();
        ctx.arc(x, y, size, 0, Math.PI * 2, true);
        ctx.closePath();
        ctx.fill();
      }

      // Clear the canvas context using the canvas width and height
      function clearCanvas(canvas, ctx) {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
      }

      // Keep track of the mouse button being pressed and draw a dot at current location
      function sketchpad_mouseDown() {
        mouseDown = 1;
        drawDot(ctx, mouseX, mouseY, 4);
      }

      // Keep track of the mouse button being released
      function sketchpad_mouseUp() {
        mouseDown = 0;
      }

      // Keep track of the mouse position and draw a dot if mouse button is currently pressed
      function sketchpad_mouseMove(e) {
        // Update the mouse co-ordinates when moved
        getMousePos(e);

        // Draw a dot if the mouse button is currently being pressed
        if (mouseDown == 1) {
          drawDot(ctx, mouseX, mouseY, 6);
        }
      }

      // Get the current mouse position relative to the top-left of the canvas
      function getMousePos(e) {
        if (!e) var e = event;

        if (e.offsetX) {
          mouseX = e.offsetX;
          mouseY = e.offsetY;
        } else if (e.layerX) {
          mouseX = e.layerX;
          mouseY = e.layerY;
        }
      }

      // Set-up the canvas and add our event handlers after the page has loaded
      function init() {
        // Get the specific canvas element from the HTML document
        canvas = document.getElementById("sketchpad");

        // If the browser supports the canvas tag, get the 2d drawing context for this canvas
        if (canvas.getContext) ctx = canvas.getContext("2d");

        // Check that we have a valid context to draw on/with before adding event handlers
        if (ctx) {
          canvas.addEventListener("mousedown", sketchpad_mouseDown, false);
          canvas.addEventListener("mousemove", sketchpad_mouseMove, false);
          window.addEventListener("mouseup", sketchpad_mouseUp, false);
        }
      }
    </script>

    <style>
      /* Some CSS styling */
      #sketchpadapp {
        /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .leftside {
        float: left;
        width: 220px;
        height: 285px;
        background-color: #def;
        padding: 10px;
        border-radius: 4px;
      }
      .rightside {
        float: left;
        margin-left: 10px;
      }
      #sketchpad {
        border: 2px solid #888;
        border-radius: 4px;
        background-color: #000;
        {% comment %} position: relative; /* Necessary for correct mouse co-ords in Firefox */ {% endcomment %}
      }
    </style>
  </head>

  <body onload="init()">
    <div class="text-center grid-col-1 p-8 text-4xl text-white font-semibold bg-blue-500">
      Devnagari Character Learning Tool
    </div>
    <div class=" grid grid-cols-4 m-16">
      <div class="grid-col-1"></div>
      <div class="grid-col-1 text-center">
        <img class="border-2" id="image_url" src="static/hindi_characters/1.png" width="300" height="300" alt="My image"/>
        <input
          class="mr-12 my-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          type="submit"
          value="Next"
          onclick="changeimage()"
        />
      </div>
      <div class="grid-col-1">
            <div class="" id="sketchpadapp">
        <div class=" text-center" >
            <canvas id="sketchpad" height="300" width="300"> </canvas>
        </div>
      <div class=" ">
        <a href="#" class="ml-6 my-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="predictButton">
          Predict
        </a>
        <input
            class="my-4 ml-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          type="submit"
          value="Clear Sketchpad"
          onclick="clearCanvas(canvas,ctx);"
        />
      </div>
      
    </div>
      </div>
      <div class="grid-col-1"></div>
    </div>
    <div class="block m-auto w-20 text-center">
      <img class="text-center" id="result" src="" width="128" height="128" alt="My image"/>
    </div>
     {% comment %} <img id="image_url" src="static/hindi_characters/1.png" width="300" height="300" alt="My image"/>
     <button onclick="changeimage()" type="button">Click Me!</button>
    <div class="" id="sketchpadapp">
        <div class="mx-72 py-4 px-72 text-center" >
            <canvas id="sketchpad" height="300" width="300"> </canvas>
        </div>
      <div class="mx-72 py-4 px-72 ">
        <img id="result" src="" width="32" height="32" alt="My image"/>
        <a href="#" class="ml-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="predictButton">
          Predict
        </a>
        <input
            class="ml-12 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          type="submit"
          value="Clear Sketchpad"
          onclick="clearCanvas(canvas,ctx);"
        />
      </div>
      
    </div> {% endcomment %}
  </body>
  <script type="text/javascript">
  $("#result").hide();
  function changeimage(){
    var img = document.getElementById("image_url");
    var img_data_url = img.getAttribute("src")
    var img_data_number = img_data_url.split("/")[2].split(".")[0]
    if(parseInt(img_data_number)+1 == 37){
      var img_no = img.getAttribute("src").substring(0,24) + "1" + ".png"
    }
    else{
    var img_no = img.getAttribute("src").substring(0,24) + (parseInt(img_data_number)+1).toString() + ".png"
    }
    document.getElementById("image_url").src = img_no
    console.log("Hello")
  }
    $("#predictButton").click(function () {
      console.log("Hello");
      var $SCRIPT_ROOT = "/api/predict/";
      var canvasObj = document.getElementById("sketchpad");
      var context = canvas.getContext("2d");
      var img = canvasObj.toDataURL();
      $.ajax({
        type: "POST",
        url: $SCRIPT_ROOT,
        data: { img: img },
        success: function (data) {
         
          var img = document.getElementById("image_url");
          var img_data_url = img.getAttribute("src")
          var img_data_number = img_data_url.split("/")[2].split(".")[0]
          console.log(img_data_number)
          console.log(data.output)
          if(parseInt(data.output) == parseInt(img_data_number)){
              
            document.getElementById("result").src = "static/images/checked.png";
            $("#result").show()
          }
          else if(parseInt(data.output) == 45){
              $("#result").hide()
          }
          else{
            document.getElementById("result").src = "static/images/failure.png";
            $("#result").show()
          }
          
          context.clearRect(0, 0, 300, 300);
          context.fillStyle = "black";
          context.fillRect(0, 0, canvas.width, canvas.height);
        },
      });
    });
  </script>
</html>
